body{
    background-image: url('https://img.freepik.com/fotos-premium/belo-modelo-de-design-com-faixa-de-vidro-azul-claro-em-fundo-azul-suave-cenario-de-luz-neon-luz-azul-elemento-de-design-abstrato-design-de-ilustracao-ai_155807-7748.jpg?size=626&ext=jpg&ga=GA1.1.1224184972.1712188800&semt=ais');
    background-size: cover;
    backdrop-filter: blur(5px);
    background-position: center;
}
.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
}

.hero-image {
    padding: 5rem;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3.4px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-image h2 {
    font-size: 35pt;
}

.hero-image p {
    font-size: 25pt;
}