.portfolio-section {
    padding: 40px 20px;
    text-align: center;
    color: var(--primary-color);
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.portfolio-item img {
    width: 300px;
    border-radius: 5px;
    transition: 0.2s;
}
.portfolio-item img:hover{
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 10px #0000007b;
}